{% extends 'base.html.twig' %}
{% block title %}
List of previous Diffs
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            	<h1>Comparison History</h1>
				<div class="row">
					<div class="col-md-4">
						<h3>First File</h3>
					</div>
					<div class="col-md-4">
						<h3>Second File</h3>
					</div>
					<div class="col-md-2">
						<h3>Similar?</h3>
					</div>
					<div class="col-md-1">
						<h3>%</h3>
					</div>
					<div class="col-md-1">
					</div>
				</div>
				{% for comparison in comparisons %}
				<div class="row">
					<div class="col-md-4">
						<a href="{{ asset('files/') }}{{ comparison.getFirstFileName() }}" target="_blank">{{ comparison.getFirstFileName() }}</a>
					</div>
					<div class="col-md-4">
						<a href="{{ asset('files/') }}{{ comparison.getSecondFileName() }}" target="_blank">{{ comparison.getSecondFileName() }}</a>
					</div>
					<div class="col-md-2">
						<p>{{ comparison.getPercentage() == '100' ? 'Yes' : 'No' }}</p>
					</div>
					<div class="col-md-1">
						<p>{{ comparison.getPercentage() }}</p>
					</div>				
					<div class="col-md-1">
						<a href="view/{{ comparison.getId() }}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
					</div>	
				</div>
				{% endfor %}
				<br/><br/><br/> 
				<a href="../new">New Comparison</a>
            </div>
        </div>
    </div>
{% endblock %}
