{% extends 'base.html.twig' %}
{% block title %}
Comparison #{{ comparison.id }}
{% endblock %}

{% block body %}
	<style>

	ins {
	    display: block;
	    width: 50%;
	    font-size:14px ! important;
	    margin-left: 50%;
	    background-color: lightgreen;
	}

	del {
	 	width: 50%;
	    position: relative;
	    font-size:14px ! important;
	    display: block;
	    background-color: lightcoral;
	}

	.differences-only
	{
		font-size:0;
	}

	</style>


    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
            	<h1>Comparison of:</h1>
            	<a href="{{ asset('files/') }}{{ comparison.getFirstFileName() }}" target="_blank">{{ comparison.getFirstFileName() }}</a> and <a href="{{ asset('files/') }}{{ comparison.getSecondFileName() }}" target="_blank">{{ comparison.getSecondFileName() }}</a>

				{% if comparison.getPercentage() == '100' %}
					<h2>The files are similar!</h2>

					<small>Nothing to see here, move along...</small>
				{% else %}
					<h2>Similarity: {{ comparison.getPercentage() }}%</h2>
					<br/>
					<div class="checkbox">
						<label><input type="checkbox" name="differences" id="differences" />Show only differences?</label>
					</div>
					<br/>
			</div>	
			<div class="col-md-12 results">
					{{ diff|raw }}
				{% endif %} 
				<br/><br/><br/> 
				<a href="../list">Comparison history</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block documentready %}

$('#differences').change(function(){
	if ($(this).is(':checked'))
		$('.results').addClass('differences-only');
	else
		$('.results').removeClass('differences-only');
});

{% endblock %}