{% extends 'base.html.twig' %}
{% block title %}
Comparison #{{ comparison.id }}
{% endblock %}

{% block body %}
	<style>

	ins {
	    display: block;
	    width: 50%;
	    margin-left: 50%;
	    background-color: lightgreen;
	}

	del {
	 	width: 50%;
	    position: relative;
	    display: block;
	    background-color: lightcoral;
	}

	</style>


    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
            	<h1>Comparison of:</h1>
            	<a href="{{ asset('files/') }}{{ comparison.getFirstFileName() }}" target="_blank">{{ comparison.getFirstFileName() }}</a> and <a href="{{ asset('files/') }}{{ comparison.getSecondFileName() }}" target="_blank">{{ comparison.getSecondFileName() }}</a>

				{% if comparison.getPercentage() == '100' %}
					<h2>The files are similar!</h2>

					<small>Nothing to see here, move along...</small>
				{% else %}
					<h2>Similarity: {{ comparison.getPercentage() }}%</h2>
					<br/>
					<h3>Differences:</h3>
					<br/>
			</div>	
			<div class="col-md-12">
					{{ diff|raw }}
				{% endif %} 
				<br/><br/><br/> 
				<a href="../list">Comparison history</a>
            </div>
        </div>
    </div>
{% endblock %}
